body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.panell{
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.header {
    grid-column: 1 / 4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 10px;
    background-color: lightblue;
    color: black;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
}

.memory-next {
    grid-column: 1;
    grid-row: 2;

    align-self: center;
    justify-self: center;

    display: flex;
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 1px solid #ccc;
}

.memory-game {
    grid-column: 2;
    grid-row: 2;
    display: inline-block;
}

.memory-message {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

.buttons{
    grid-column: 2;
    grid-row: 3;
    background: lightblue;
    color: black;
    align-self: center;
    justify-self: center;
    background-color: lightblue;
}
/*Cuant passem per demunt els color, que es fasin grans amb 0.4 segons, ni es inmediat*/
button:hover {
    transform:  scale(1.05);
    transition: transform 0.4s;
}

button:active {
    background-color: #7e7e7e;
}

.row {
    display: flex;
}

.card {
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.card:hover {
    cursor: pointer;
}

.color1 {
    background-color: #005f73;
    :hover {
        background-color: rgba(0, 95, 115, 0.88);
    }
}
.color2 {
    background-color: #0a9396;
    :hover {
        background-color: rgba(10, 147, 150, 0.85);
    }
}
.color3 {
    background-color: #94d2bd;
    :hover {
        background-color : rgba(148, 210, 189, 0.9);
    }
}
.color4 {
    background-color: #e9d8a6;
    :hover {
        background-color: rgba(233, 216, 166, 0.91);
    }
}
.color5 {
    background-color: #ee9b00;
    :hover {
        background-color: rgba(238, 155, 0, 0.86);
    }
}
.color6 {
    background-color: #ca6702;
    :hover {
        background-color: rgba(202, 103, 2, 0.85);
    }
}
.color7 {
    background-color: #bb3e03;
    :hover {
        background-color: rgba(187, 62, 3, 0.88);
    }
}
.color8 {
    background-color: #ae2012;
    :hover {
        background-color: rgba(174, 32, 18, 0.85);
    }
}
.color9 {
    background-color: #9b2226;
    :hover {
        background-color: rgba(155, 34, 38, 0.85);
    }
}


.button-3 {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    :hover {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
    }

}

.button-2 {
    cursor: pointer;
    outline: 0;
    color: #ffffff;
    background-color: #ff0000;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

h3{
    text-align: center;
    background: red;
    color: white;
    font-size: 30px;
    font-family: FreeSans;
}

h2{
    text-align: center;
    color: red;
    font-size: 30px;
    font-family: FreeSans;
}

h1{
    text-align: center;
    font-size: 30px;
    font-family: Monospaced;
}